{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ request.get_host }} | Reset Password{% endblock title %}


{% block content %}




<div class="min-h-screen flex justify-center items-center bg-gray-200 px-4">
    <div class="w-full max-w-xl md:max-w-6xl mx-auto px-2">
        <div class="grid grid-cols-12 rounded-xl overflow-hidden">
            <div class="col-span-12 md:col-span-6  bg-white">
                <div class="pl-12 pt-8">
                    <img src="{% static 'img/logo.svg' %}" alt="Logo" class="w-36">
                </div>

                
                
                <div class="px-8 sm:px-16 md:px-12 lg:px-20 py-20 sm:pt-16 sm:pb-24 ">
                    {% include 'alert.html' %}
                    <span class="font-semibold text-xl mb-4 block">Reset Password</span>
                    
                    <div class="flex items-center space-x-2">
                        <!-- <a href=""
                           class="border border-gray-200 hover:bg-gray-100 transition text-3xl text-gray-600 px-6 lg:px-8 py-1 rounded-md flex items-center justify-center flex-grow"><i
                                class="lab la-facebook"></i></a> -->

                        <!-- <a href=""
                           class="border border-gray-200 hover:bg-gray-100 transition text-3xl text-gray-600 px-6 lg:px-8 py-1 rounded-md flex items-center justify-center flex-grow"><i
                                class="lab la-google"></i></a> -->
                        <!-- <a href=""
                           class="border border-gray-200 hover:bg-gray-100 transition text-3xl text-gray-600 px-6 lg:px-8 py-1 rounded-md flex items-center justify-center flex-grow"><i
                                class="lab la-github"></i></a> -->
                    </div>
                    
 


                    <!-- <div class="py-2">
                        <span class="w-full border border-gray-200 mt-6 block "></span>
                        <p class="w-max mx-auto -mt-3 px-2 bg-white text-sm text-gray-600">
                            or continue with</p>
                    </div> -->
                    <form method="POST">
                        {% csrf_token %}
                        

                        <div class="flex items-center space-x-2 mt-4 text-gray-600">
                                  <span class="text-xl">
                                      <i class="las la-key"></i>
                                  </span>
                            <label class="text-sm">Password</label>
                        </div>
                        <input type="password" placeholder="Password"
                               class="w-full text-sm shadow rounded-md focus:outline-none py-3 px-5 mt-2" name="password">

                               <div class="flex items-center space-x-2 mt-4 text-gray-600">
                                <span class="text-xl">
                                    <i class="las la-key"></i>
                                </span>
                          <label class="text-sm">Confirm Password</label>
                      </div>
                      <input type="password" placeholder="Retype Your Password"
                             class="w-full text-sm shadow rounded-md focus:outline-none py-3 px-5 mt-2" name="confirm_password">
                        
                        <div class="sm:flex gap-5 items-center mt-6 space-y-1.5 sm:space-y-0">
                            <button
                                    class="bg-primary hover:bg-primary-dark text-white font-semibold uppercase px-8 w-full sm:w-auto py-2 rounded-md flex items-center justify-center transition">
                                <span class="mr-1 text-xl"><i class="las la-sign-in-alt"></i></span>
                                Reset
                            </button>
                            
                        </div>
                    </form>
                </div>
            </div>

            <div class="hidden md:block md:col-span-6 h-full bg-cover bg-center"
                 style="background-image: url('{% static "img/login-bg.jpg" %}')">
            </div>
        </div>
    </div>
</div>


{% endblock %}