{% extends 'base.html' %}
{% load static %}
{% block title %}{{ request.get_host }} | Store {% endblock title %}


{% block content %}
<script src="https://js.paystack.co/v1/inline.js"></script>
<!-- <script src="https://js.paystack.co/v2/inline.js"></script> -->
<style>
    .moda {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.moda-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>

<!-- banner -->
<div class="relative bg-cover bg-center py-10 sm:py-20 md:py-44 xl:py-56"
     style="background-image: url('{% static "img/banner.jpg" %}');">
    <div class="absolute w-full h-full left-0 top-0 bg-gray-900 opacity-40">
    </div>
    <h1 class="relative text-4xl sm:text-6xl text-white text-center">Stock View</h1>
    <div class="relative flex justify-center items-center gap-4 text-white mt-6">
        <a href="{% url 'home' %}" class="font-medium hover:text-primary transition duration-300">Home</a>
        <span class="font-medium"><i class="las la-long-arrow-alt-right"></i></span>
        <span class="font-medium">Stock view</span>
    </div>
</div>
<!-- banner end-->

<!-- collect section -->
<div class="bg-primary-light">
    <div class="container sm:mx-auto grid grid-cols-12 gap-6 py-20">
        <div class="col-span-12 md:col-span-7 xl:col-span-8 mx-8 sm:mx-0 flex sm:justify-center sm:items-center">
            <img src="{{ stock.images.url }}" class="image-open  w-full h-full sm:max-w-2xl object-cover">
        </div>

        <div class="col-span-12 md:col-span-5 xl:col-span-4 bg-white px-4 sm:px-5 lg:px-8 sm:py-8 py-6 lg:py-12 mx-8 sm:mx-0">
            <!-- <div class="flex gap-2 lg:gap-4 xl:justify-between items-center ">
                <a href="#"
                   class="flex-grow text-center text-sm sm:text-lg border-2 border-primary hover:bg-primary-dark hover:text-white transition rounded-lg flex-grow py-2 md:py-1 lg:py-2">
                    <i class="las la-folder-plus text-xl sm:text-2xl mr-1"></i>
                    Add To Cart
                </a>
                <a href="#"
                   class="flex-shrink-0 relative text-sm  sm:text-2xl md:text-lg lg:text-2xl border-2 border-primary hover:bg-primary-dark hover:text-white transition rounded-lg px-3 sm:px-4 md:px-3 lg:px-3 py-2 md:py-1 lg:py-2">
                    <i class="lar la-heart"></i>
                </a>
                <a href="#"
                   class="flex-shrink-0 relative text-sm sm:text-2xl md:text-lg lg:text-2xl border-2 hover:bg-primary-dark hover:text-white border-primary transition rounded-lg px-3 sm:px-4 md:px-3 lg:px-3 py-2 md:py-1 lg:py-2">
                    <span class="absolute flex justify-center items-center w-3 h-3 text-base font-medium bg-primary hover:bg-secondary text-white transition rounded-full  p-3 -top-3 -right-3">2</span>
                    <i class="lar la-comment-alt"></i>
                </a>
            </div> -->
            <p class="mt-4 text-gray-500 text-sm">
                Category : {{stock.category}}
            </p>
            <div class="pb-5">
                

                <button
                        class="w-full bg-primary hover:bg-primary-dark transition text-white text-xl py-3 rounded-lg mt-8"><a href="{{ stock.images.url }}" download="{{ stock.images.url }}">
                    <span><i class="las la-download"></i></span>Download</a> 
                </button>
                
            </div>
            <h4 class="text-xl mt-8 font-semibold text-gray-800">{{stock.stock_name}}</h4>
            <p class="mt-5 text-gray-500 text-sm">
                {{stock.description}}
                
            </p>
            
            <button id="doBtn" class="w-full bg-primary hover:bg-primary-dark transition text-white text-xl py-3 rounded-lg mt-8"><span><i class="las la-dollar-sign"></i></span>Donate</button>

            <div id="myModa" class="moda">

                <!-- Modal content -->
                <div class="moda-content">
                  <span class="close">&times;</span>
                    
                        <input class="w-full text-sm shadow rounded-md focus:outline-none py-3 px-5 mt-2"  type="number" placeholder="Amount To Donate" name="deposit_amount" id="deposit_amount" required>
                        
                        <button onclick="payWithPayStack()"
                                class="w-full bg-primary hover:bg-primary-dark transition text-white text-xl py-3 rounded-lg mt-8">
                            <span><i class="las la-dollar-sign"></i></span>Donate 
                        </button>
                        <div class=" mt-8" >
                            <img src="{% static 'paystack.png' %}" alt=""  width="100%" >
                        </div>
                    
                </div>
              
              </div>
            
            <!-- <div class="flex mt-6">
                <p class="mr-4 text-gray-800">Downloads: <b>1280</b></p>
                <p class="text-gray-800">Uploaded by: <a href="#" class="text-primary">Alex Smith</a></p>
            </div> -->
            
            
            
        </div>
    </div>
</div>
<!-- collect section end -->

<!--Image modal-->
<div class="image-modal opacity-0 invisible fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50 sm:p-8 p-4 lg:p-16">
    <button class="image-close absolute right-4 top-4 h-8 w-8 flex items-center justify-center border border-gray-300 rounded-full text-white hover:bg-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
    <img src="{{ stock.images.url }}" class="w-full h-full object-contain">
</div>
<!--Image modal end-->

<script>


const getCookie = (name) => {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
const csrftoken = getCookie('csrftoken');

console.log(csrftoken);
var modal = document.getElementById("myModa");

// Get the button that opens the modal
var btn = document.getElementById("doBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
} 


    


    function payWithPayStack(){
        let redirect_url = "{% url 'deposit_detail' %}";
        let currency = "NGN";
        let user = "{{user.email}}"
        let plan = "";
        let amount = document.getElementById('deposit_amount').value* 100 ;
        let ref = "{{user.id}}"+Math.floor((Math.random() * 1000000000) + 1 );
        let obj = {
            key: "pk_test_14162cb89ec6e813cf664044d2cf5a44f5b40255",
            email: '{{ user.email }}',
            amount: amount,
            ref: ref,
            callback: function(response){
                $.ajax({
                    type: 'POST',
                    url: "/deposit/",
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'amount': amount,
                        'ref': ref,
                        'user': user,
                    },
                    
                    success: function(response){
                        console.log(response);
                        // location.reload();
                        window.location.href = redirect_url + 'ref='+ref;
                      

                    },
                    error: function(error){
                        console.log(error);
                        
                    }
                })
            }
        }
        if (Boolean(currency)){
            obj.currency = currency.toUpperCase()
        }
        if (Boolean(plan)){
            obj.plan - plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>

{% endblock %}