{% extends 'base.html' %}
{% load static %}
{% block title %}{{ request.get_host }} | Store{% endblock title %}


{% block content %}


<!-- banner -->
<div class="relative bg-cover bg-center py-10 sm:py-20 md:py-44 xl:py-56"
     style="background-image: url('{% static "img/banner.jpg" %}');">
    <div class="absolute w-full h-full left-0 top-0 bg-gray-900 opacity-40">
    </div>
    <h1 class="relative text-4xl md:text-6xl text-white text-center">Store</h1>
    <div class="relative flex justify-center items-center gap-4 text-white mt-6">
        <a href="{% url 'home' %}" class="font-medium hover:text-primary transition duration-300">Home</a>
        <span class="font-medium"><i class="las la-long-arrow-alt-right"></i></span>
        <span class="font-medium">Store</span>
    </div>
</div>
<!-- banner end-->

<!-- collect section -->
<div class="bg-primary-light py-20">
    <div class="w-full max-w-7xl mx-auto">
        <div class="grid grid-cols-12 gap-6  md:mx-24 xl:mx-0">
            <!-- Left side -->
            <div class="col-span-12 xl:col-span-4 mx-12 md:mx-16 lg:mx-0">
                <!-- filter -->
                <div class="bg-white p-4 sm:p-8 shadow-md rounded-lg">
                    
                    {% if 'search' in request.path %}
                    <h2 class="title-page">Search Result</h2>
                    {% else %}
                        <h2 class="title-page">Our Store</h2>
                    {% endif %}
                    <span class="mr-md-auto"><b>{{ stock_count }}</b> Items found </span>
                </div>
                <!-- filter end -->
                <!-- categories -->
                <div class="bg-white shadow-md rounded-lg p-8 mt-8">
                    <h4 class=" text-xl font-medium mb-4">Categories</h4>
                    <ul class="space-y-2">
                        {% for category in links %}
                        
                        <li><a href="{{ category.get_url }}" class="hover:text-primary">{{ category.category_name }}</a></li>
                        {% endfor %}
                        <!-- <li><a href="#" class="hover:text-primary">Agency</a></li>
                        <li><a href="#" class="hover:text-primary">Animal</a></li>
                        <li><a href="#" class="hover:text-primary">Business</a></li>
                        <li><a href="#" class="hover:text-primary">Fasion</a></li>
                        <li><a href="#" class="hover:text-primary">Family</a></li>
                        <li><a href="#" class="hover:text-primary">Health</a></li>
                        <li><a href="#" class="hover:text-primary">Nature</a></li>
                        <li><a href="#" class="hover:text-primary">Photo</a></li>
                        <li><a href="#" class="hover:text-primary">Travel</a></li>
                        <li><a href="#"></a></li> -->
                    </ul>
                </div>
                <!-- categories edn -->
                <!-- tags -->
                <!-- <div class="bg-white shadow-md rounded-lg p-8 mt-8">
                    <p class=" text-xl font-medium mb-4 sm:mb-0">Tags</p>
                    <div class="space-y-5">
                        <a href="#"
                           class="primary-btn inline-block bg-white  border border-primary text-primary-dark hover:text-white">
                            <span class="relative z-10"> Camera </span>
                        </a>
                        <a href="#"
                           class="primary-btn inline-block bg-white  border border-primary text-primary-dark hover:text-white">
                            <span class="relative z-10"> Market </span>
                        </a>
                        <a href="#"
                           class="primary-btn inline-block bg-white  border border-primary text-primary-dark hover:text-white">
                            <span class="relative z-10"> Photo </span>
                        </a>
                        <a href="#"
                           class="primary-btn inline-block bg-white  border border-primary text-primary-dark hover:text-white">
                            <span class="relative z-10"> Photographer </span>
                        </a>
                    </div>
                </div> -->
                <!-- tags end -->
            </div>
            <!-- Right side-->
            <div class="col-span-12 xl:col-span-8 mx-12 md:mx-16 lg:mx-0">
                <div class="flex gap-5 sm:gap-0 sm:justify-between items-center">
                    <!-- shop grid & list -->
                    <!-- <div class="flex gap-2">
                        <a href="shop-grid.html" class="active text-primary  text-xl sm:text-4xl font-normal"><i
                                class="las la-border-all"></i></a>
                        <a href="shop-list.html" class="text-xl sm:text-4xl"><i class="las la-bars"></i></a>
                    </div> -->
                    <!-- shop grid & list end -->
                    <!-- select option -->
                    <!-- <select
                            class="text-sm bg-primary-light border border-primary  rounded-full focus:outline-none appearance-none px-4 py-2 sm:py-3">
                        <option value="" class="text-sm">Defeult sorting</option>
                        <option value="" class="text-sm">Sort by popular</option>
                        <option value="" class="text-sm">Sort by latest</option>
                        <option value="" class="text-sm">Sort by average rating</option>
                        <option value="" class="text-sm">Sort by price: low to high</option>
                        <option value="" class="text-sm">Sort by price: high to low</option>
                    </select> -->
                    <!-- select option end -->
                </div>
                <!-- Products -->
                <div class="grid grid-cols-2 gap-4 mt-6">
                    {% if stocks %}
                    {% for stock in stocks %}
                    <!-- winter -->
                    <div
                            class="group relative rounded-lg overflow-hidden bg-center bg-cover flex items-center justify-center col-span-2 lg:col-span-1">
                            <span></span>
                        <a href="{% url 'store:stock_detail' stock.id %}"> <img  src="{{ stock.images.url }}" class="w-full h-full rounded-xl"></a>
                        <a href="{% url 'store:stock_detail' stock.id %}">
                        <div
                                class="p-4 pb-10 group-hover:pb-4 flex items-end justify-between absolute w-full h-full left-0 top-0 bg-gray-900 bg-opacity-40 opacity-0 group-hover:opacity-100 transition-all duration-300 ">
                            <p class="text-white text-3xl  lg:text-2xl">{{ stock.stock_name }}</p>
                            <div class="flex items-center gap-3">
                                    
                                <a href="{% url 'store:stock_detail' stock.id %}"
                                   class="text-white text-3xl hover:text-secondary transition"> <i
                                        class="las la-download"></i> </a>
                            </div>
                        </div>
                    </a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div>
                        <h2>No result found, Please try again later.</h2>
                    </div>
                    {% endif %}
                    
                    
                    <!-- black & white -->
                </div>
                <!-- Pagination-->
                <div class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0 mt-8">
                    {% if stocks.has_other_pages %}
                    {% if stocks.has_previous %}
                    <div class="-mt-px w-0 flex-1 flex">
                        <a href="?page={{stocks.previous_page_number}}"
                           class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
                            <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                                      clip-rule="evenodd"/>
                            </svg>
                            Previous
                        </a>
                    </div>
                    {% else %}
                    <div class="-mt-px w-0 flex-1 flex">
                        <a href="#"
                           class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
                            <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                                      clip-rule="evenodd"/>
                            </svg>
                            Previous
                        </a>
                    </div>
                    {% endif %}
                    
                    <div class="hidden md:-mt-px md:flex">
                        {% for i in stocks.paginator.page_range %}
                        {% if stocks.number == i %}
                        <a href="#"
                           class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">
                           {{i}} </a>
                           {% else %}
                        <a href="?page={{i}}"
                           class="border-primary text-primary-dark border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium"
                           aria-current="page"> {{i}} </a>
                           {% endif %}
                           {% endfor %}
                           
                        
                    </div>
                    {% if stocks.has_next %}
                    <div class="-mt-px w-0 flex-1 flex justify-end">
                        <a href="?page={{stocks.next_page_number}}"
                           class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
                            Next
                            <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </a>
                    </div>
                    {% else %}
                    <div class="-mt-px w-0 flex-1 flex justify-end">
                        <a href="#"
                           class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
                            Next
                            <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </a>
                    </div>
                    {% endif %}
                    {% endif %}
                    
                </div>

            </div>
        </div>
    </div>
</div>
<!-- collent section end -->


{% endblock %}